@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root{
    background-color: black;
}
        
        .active {
          color: #fff;
          padding: 1rem;
          border-radius: 100%;
        }
      