@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}
*,
:root,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
