/* 
@media screen and (max-width:576px) {
          .margin{
                   margin-left:auto;
          }
          
} */


 /* ======= Footer ======= */

 *{
          font-family: 'Pirata One', cursive;
 }
.main-footer {
          padding: 100px 0 0;
      }
      .main-footer.dark {
          background: #101010;
          color: #fff;
      }
      .main-footer .abot p {
          font-size: 15px;
          color: rgba(255,255,255,0.8);
      }
      .main-footer .abot .social-icon {
          margin-top: 20px;
      }
      .main-footer .abot .social-icon a {
          width: 45px;
          height: 45px;
          line-height: 49px;
          text-align: center;
          font-size: 13px;
          border: 1px solid #991b1f;
          border-radius: 50%;
          margin-right: 3px;
          -webkit-transition: all .4s;
          -o-transition: all .4s;
          transition: all .4s;
      }
      .main-footer .abot .social-icon a:hover {
          border-color: #fff;
          color: #fff;
      }
      .main-footer .usful-links ul {
          margin: 0;
      }
      .main-footer .usful-links ul li {
          font-size: 15px;
          margin-bottom: 5px;
      }
      .main-footer .usful-links ul li:hover {
          color: #fff;
      }
      .main-footer .usful-links ul li i {
          font-size: 7px;
          color: #fff;
          margin-right: 5px;
      }
      .main-footer .fothead h6 {
          color: #991b1f;
          font-size: 24px;
          margin-bottom: 20px;
          font-family: 'Pirata One', cursive;
          letter-spacing: 1px;
      }
      .main-footer .fotcont .fothead h6 {
          position: relative;
          padding-bottom: 5px;
      }
      .main-footer .fotcont .fothead h6:after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          border: none;
          border-bottom: 1px dashed rgba(255,255,255,0.1);
      }
      .main-footer .fotcont p {
          font-size: 15px;
          font-family: 'Mukta', sans-serif;
          color: rgba(255,255,255,0.8);
          margin-bottom: 0px;
      }
      .main-footer .sub-footer {
          padding: 30px 0;
          margin-top: 50px;
          border-top: 1px dashed rgba(255, 255, 255, 0.1);
      }
      .main-footer .sub-footer p {
          font-size: 14px;
          color: rgba(255,255,255,0.8);
      }
      .main-footer .sub-footer p.right {
          text-align: right;
      }
      .main-footer .logo h2 {
          font-weight: 400;
          font-size: 55px;
          letter-spacing: 4px;
          color: #fff;
          line-height: 0.7em;
      }
      .main-footer .logo span {
          font-family: 'Mukta', sans-serif;
          display: block;
          margin-top: 7px;
          font-size: 8px;
          letter-spacing: 3px;
          color: #fff;
          font-weight: 400;
          line-height: 1.5em;
          text-transform: uppercase;
          background: #991b1f;
          padding: 3px;
          text-align: center;
      }